:host {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  z-index: 99;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
}

.nav__item {
  margin: .5rem;
}

.nav__fab {
  transition: .4s ease-out;
}
